ENV=dev
CORS_ORIGIN=*
ORIGIN_DEFAULT=localhost

AWS_ACCESS_KEY=<HASH>
AWS_SECRET_KEY=<HASH>
AWS_SESSION_TOKEN=<TOKEN>

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_NAME=FIAP

HOST=localhost
PORT=8000
URL=${HOST}:${PORT}